<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm text-md-left ">
                <p class="{% if page.url != '/' %}text-dark{% endif %}">
                    Homepage photo by <a href="https://unsplash.com/@aows?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="noopener noreferrer" title="Download free do whatever you want high-resolution photos from adrian">adrian</a> on <a href="http://www.unsplash.com" target="_blank">Unsplash</a>
                </p>
            </div>
            <div class="col-sm">
                <ul class="text-center list-inline">
                    <li class="list-inline-item">
                        <a href="http://www.github.com/dyatesupnorth" class="text-muted" target="_blank">
                        <i class="fa fa-github"></i>
                    </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://www.twitter.com/mahmehtdave" class="text-muted" target="_blank"> <i class="fa fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="http://stackoverflow.com/users/1532114/dyatesupnorth" class="text-muted" target="_blank"> <i class="fa fa-stack-overflow"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm text-md-right ">
                <p class="{% if page.url != '/' %}text-dark{% endif %}">Family | Gym | Code |
                    <a href="/contact">
                        Contact me
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>