<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h4>The Homestead</h4>

                <p>
                    St Ola,<br/>
                    Kirkwall, <br/>
                    Orkney, UK.
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>My Links</h4>

                <p>
                    <a href="http://www.github.com/dyatesupnorth" target="_blank">Github</a><br/>
                    <a href="http://www.twitter.com/upnorthit" target="_blank">Twitter</a><br/>
                    <a href="http://stackoverflow.com/users/1532114/dyatesupnorth" target="_blank">Stack Overflow</a><br/>
                    <a href="http://upnorth-it.com" target="_blank">Upnorth</a>
                </p>
            </div>
            <!-- /col-lg-4 -->

            <div class="col-lg-4">
                <h4>About Me</h4>

                <p>I'm Dave Yates and I enjoy best practices with my coffee in the morning. When I'm not coding away on
                    my latest project I'm either in the gym or spending time with my awesome family.

                    Want to get in touch? Get me at either of the social networks on the left or send me an
                    <a href="/contact">
                        email.
                    </a>
                </p>
            </div>
            <!-- /col-lg-4 -->

        </div>

    </div>
</div>


