@import url('https://fonts.googleapis.com/css?family=Lora|Nunito');

body,
html {
    height: 100%;
    font-family: 'Lora', serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    font-family: 'Nunito', sans-serif;
}

h1.banner-main {
    margin: 0;
}

#ww {
    position: relative;
    margin-top: 10%;
}

.content__wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    padding-top:56px;
}

.bg-image {
    padding-top: 56px;
    background-image: url("../img/adrian-226109-unsplash2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    flex: 1;
}

.footer {
    .col-sm {
        text-align: center;
    }
    p {
        font-size: 80%;
        color: white;
    }
}

