---
layout: default
title: Blog
permalink: /blog/
date:   2013-02-06 01:23:28
weight: 2
---

{% for post in site.categories['blog'] %}
{% assign author = site.authors[post.author] %}
{% assign loopindex = forloop.index | modulo: 2 %}
{% if loopindex == 1 %}
    <div id="grey">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- Mugshot. -->
                    <p>
                        <img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40" width="50px" height="50px">
                        <ba>{{ author.display_name }}</ba>
                    </p>
                    <p>
                        <bd>{{post.date | date: "%-d %B %Y" }}</bd>
                    </p>
                    <h4>{{post.title}}</h4>

                    <div class="post">{{post.excerpt}}</div>

                    <p><a href="{{post.url}}">Continue Reading...</a></p>
                </div>

            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /grey -->
    {% else %}
    <!-- +++++ Second Post +++++ -->
    <div id="white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- Mugshot. -->
                    <p><img src="http://www.gravatar.com/avatar/{{ author.gravatar }}?s=40" width="50px" height="50px">
                        <ba>{{post.author.name}}</ba>
                    </p>
                    <p>
                        <bd>{{post.date | date: "%-d %B %Y" }}</bd>
                    </p>
                    <h4>{{post.title}}</h4>

                    <div class="post">{{post.excerpt}}</div>

                    <p><a href="{{post.url}}">Continue Reading...</a></p>
                </div>

            </div>
            <!-- /row -->
        </div>
    </div>
    <!-- /white -->
</div>
{% endif %}
{% endfor %}


