---
layout: default
---
<div class="container">
    <div class="row">
        <!-- Blog Post Content Column -->
        <div class="col-lg-8 col-lg-offset-2">

            <!-- Blog Post -->

            <!-- Title -->
            <h1>{{ page.title }}</h1>

            <!-- Author -->
            <small class="lead">
                by <a href="#">Dave Yates</a>
            </small>

            <hr>

            <!-- Date/Time -->
            <p><small class="glyphicon glyphicon-time"></small> Posted on August 24, 2013 at 9:00 PM</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="{{page.image}}" alt="">

            <hr>

            {{ content }}

            <hr>
        </div>


    </div>
</div>

